<%= "Hello #{current_user.email}"%>




<center>
  <%= form_tag home_index_path, method: :post do %>
  <%= text_area_tag 'comment', nil  %> <!-- Il faudrait aussi nommer la colonne en plus du model, Exzmple: 'comment[content]'
  </br>
  <%= submit_tag "Save" %>
  <%end%>
</center>


<div id=border>
<p> issam@gmail.com </p>
<p> aaaaaaa </p>
<button type="button">j aime()</button>
<button type="button">j aime pas()</button>
</div>

<div id=border>
<p> XXXXXXXXX@DOMAIN.com </p> <!-- ARGHHH, JAMAIS d'adresse email (ou credentials dans un Repo GIT !!! -->
<p> aaaaaaa </p>              <!-- (Surtout que celui-ci est publique !) -->
<button type="button">j aime()</button>
<button type="button">j aime pas()</button>
</div>

<div id=border>
<p> XXXXXXXXX@DOMAIN.com </p>
<p> aaaaaaa </p>
<button type="button">j aime()</button>
<button type="button">j aime pas()</button>
</div>

<div id=border>
<p> XXXXXXXXX@DOMAIN.com</p>
<p> aaaaaaa </p>
<button type="button">j aime()</button>
<button type="button">j aime pas()</button>
</div>
<!-- Humm, ça sent la panique ici :-( -->

<div id=border>
<p> XXXXXXXXX@DOMAIN.com </p>
<p> aaaaaaa </p>
<button type="button">j aime()</button>
<button type="button">j aime pas()</button>
</div>
