<%= "Hello #{current_user.email}"%>




<center>
  <%= form_tag home_index_path, method: :post do %>
  <%= text_area_tag 'comment', nil  %>
  </br>
  <%= submit_tag "Save" %>
  <%end%>
</center>


<div id=border>
<p> issam@gmail.com </p>
<p> aaaaaaa </p>
<button type="button">j aime()</button>
<button type="button">j aime pas()</button>
</div>

<div id=border>
<p> issam@gmail.com </p>
<p> aaaaaaa </p>
<button type="button">j aime()</button>
<button type="button">j aime pas()</button>
</div>

<div id=border>
<p> issam@gmail.com </p>
<p> aaaaaaa </p>
<button type="button">j aime()</button>
<button type="button">j aime pas()</button>
</div>

<div id=border>
<p> issam@gmail.com </p>
<p> aaaaaaa </p>
<button type="button">j aime()</button>
<button type="button">j aime pas()</button>
</div>

<div id=border>
<p> issam@gmail.com </p>
<p> aaaaaaa </p>
<button type="button">j aime()</button>
<button type="button">j aime pas()</button>
</div>
